.header-content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 23px 0;
}

.main-content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 50%;
    float: left;
}

.contact {
    width: 50%;
    float: left;
    text-align: right;
}

.fa-phone:before {
    content: "\f095";
    font-weight: 400;
    font-family: 'FontAwesome';
    font-size: 34px;
    color: #62bfe6;
}

.contact-number {
    font-size: 24px;
    margin-left: 15px;
    color: #434547;
}

.contact p {
    font-size: 14px;
    color: #888888;
}

.box-div {
    display: inline-block;
}

.box-container {
    text-align: left;
    padding: 8% 10% 55px;
    color: #ffffff;
    //background: #62bfe6;
    min-height: 412px !important;
}

.box-1 {
    background: #57aacd
}

.box-2 {
    background: #55b0d6
}

.box-3 {
    background: #5bb7de
}

.box-4 {
    background: #62bfe6
}

.box-icon {
    font-size: 62px;
    line-height: 1;
}

.box-title {
    margin-top: 16px;
    font-size: 24px;
}

.box-text {
    margin-top: 16px;
}

[class*='fa-']:before {
    font-weight: 400;
    font-family: 'FontAwesome';
}

.fa-briefcase:before {
    content: "\f0b1";
}

.fa-gear:before, .fa-cog:before {
    content: "\f013";
}

.fa-lightbulb-o:before {
    content: "\f0eb";
}

.fa-globe:before {
    content: "\f0ac";
}

.box-minimal {
    padding-bottom: 45px;
}

    .box-minimal.bordered {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 50px;
    }

.box-minimal-div {
    border-bottom: 3px solid #62bfe6;
    display: inline-block;
}

.box-minimal-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 52px;
    line-height: 1;
    color: #ffffff;
    background: #62bfe6;
}

.box-minimal-text {
    margin-top: 12px;
}

.fa-comments:before {
    content: "\f086";
}

.fa-group:before, .fa-users:before {
    content: "\f0c0";
}

.fa-calendar-o:before {
    content: "\f133";
}

.fa-thumbs-up:before {
    content: "\f164";
}

.box-minimal-div {
    margin-top: 50px;
}

.read-more-btn {
    color: #ffffff;
    background-color: #4ab5e2;
    border-color: #4ab5e2;
}

.services-list {
    padding: 0;
}

    .services-list > li {
        list-style: none;
        padding: 8px 0 8px 40px;
        text-indent: -40px;
    }

        .services-list > li + li {
            border-top: 1px solid #e5e5e5;
        }

        .services-list > li::before {
            display: inline-block;
            vertical-align: middle;
            content: '\f00c';
            font: 400 22px/1 'FontAwesome';
            color: inherit;
            text-indent: 0;
            margin-right: 18px;
        }

.info {
    padding: 8%;
    color: #ffffff;
    background: #57aacd;
}

.info-header {
    display: flex;
    align-items: center;
}

    .info-header .icon {
        font-size: 50px;
        margin-right: 10px;
    }

    .info-header + .info-item {
        margin-top: 16px;
    }

.info-item {
    border-top: 1px solid;
    padding-top: 20px;
}

.info-link {
    color: inherit;
    font-size: 14px;
}

h3 {
    font-size: 34px;
}

.box-help {
    display: inline-block;
    margin-top: 20px;
}

    .box-help .about {
        padding-right: 15px;
    }

    .box-help .services {
        padding-right: 15px;
        padding-left: 15px;
    }

    .box-help .help {
        padding-left: 15px;
        margin-top: 25px;
    }

span.dot {
    width: 12px;
    height: 12px;
    background: #dbdbdb;
    display: block;
    -webkit-backface-visibility: visible;
    transition: .3s ease-in-out;
    border-radius: 50%;
}

.media {
    display: none;
}

    .media.active {
        display: block;
    }

.dot.active {
    background: #62bfe6;
}

.dot {
    position: absolute;
    top: 220px;
    left: 140px;
    cursor: pointer;
}

    .dot.dot-2 {
        left: 160px
    }

    .dot.dot-3 {
        left: 180px
    }

    .dot.dot-4 {
        left: 200px
    }

.quote-text .q::before {
    content: '\f10d';
    font: 34px/1 "FontAwesome";
    color: #62bfe6;
    margin-right: 10px;
}

.quote-author {
    display: inline-block;
    font-size: 14px;
    color: #62bfe6;
    margin-top: 6px;
}

.author {
    padding: 8%;
    background: #f5f5f5;
    position: relative;
    min-height: 247px;
}

.media-body {
    width: 63% !important;
    display: inline-block;
    float: right;
    flex: 1;
}

.quote-image {
    margin-right: 30px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.quote-text {
    margin-top: -6px;
}

.contact-info {
    background-color: #434547;
    display: inline-block;
    width: 100%;
}

.info-classic-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    font-size: 31px;
    line-height: 1;
    color: #62bfe6;
    background: rgba(136, 136, 136, 0.1);
    margin-bottom: 20px;
    float: left;
}

.info-classic-link {
    color: #888888;
    font-size: 16px;
    width: 65% !important;
    margin-left: 30px;
    margin-top: 20px;
}

    .info-classic-link.number {
        font-size: 24px;
    }

.fa-twitter:before {
    content: "\f099";
}

.fa-fax:before {
    content: "\f1ac";
}

.fa-envelope:before {
    content: "\f0e0";
}

facebook:before {
    content: "\f09a";
}
/*.fa-phone:before {
    content: "\f095";
}*/
.fa-map-marker:before {
    content: "\f041";
}

.mySlides {
    display: none;
}

    .mySlides.first-slide {
        display: block;
    }

.banner {
    position: relative;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    font-size: 32px;
    color: #888888;
}

.display-right {
    right: 15px;
}

.display-left {
    left: 15px;
}

.footer-container {
    max-width: 1170px;
    margin: 0 auto;
}

.footer {
    padding: 60px 0;
    display: inline-block;
    border-bottom: 1px solid #888888;
}

p.rights {
    display: inline-block;
    padding: 40px 0;
}

    p.rights * {
        font-size: 14px;
        color: #888888 !important;
    }











/* Navbar container */
.navbar {
    background-color: #333;
    font-family: Arial;
    color: #fff;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown {
    display: inline-block;
    float: left;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 15px 16px;
        background-color: inherit;
        font: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #62bfe6;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background: #f5f5f5;
    width: 100%;
    left: 0;
    top:51px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 270px;
    color: #62bfe6;
}

    .dropdown-content a {
        display: block;
        padding: 15px 30px;
        font-size: 16px;
        line-height: 1.2;
        color: #62bfe6;
        width: 100%;
    }

a, a:hover {
    text-decoration: none !important;
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown-content .dropbtn::before {
    content: '\f105';
    font-family: 'FontAwesome';
    float: right;
}

.dropdown-content .dropbtn {
    background: none !important;
    font-size:16px;
    color: #62bfe6;
}

    .dropdown-content .dropbtn:hover {
        background: #62bfe6 !important;
        color: #23527c;
    }


.menu-items .dropdown, .menu-items .dropbtn {
    width: 100%;
}

.menu-items .dropdown-content {
    position: absolute;
    left: auto;
    right: -100%;
    top: 0;
}
